extends layout

block content
  h1 #{category.name}

  p 
    strong Description: 
    | #{category.description}

  h2(style='font-size: 1.5rem;') Movies

  ul
    each val in items
      li
        a(href=val.url) #{val.name}

  .delete-update
    p
      a(href=category.url+'/delete') Delete Category
    p
      a(href=category.url+'/update') Update Category
