extends layout

block content
  h1=title

  form(method='POST' enctype='multipart/form-data')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Interstellar' name='name' required value=(undefined === item ? '' : item.name))

    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Earth is coming to an end and a few astronauts are traveling to find another home at the end of the galaxy.' name='description' required value=(undefined === item ? '' : item.description))

    div.form-group
      label(for='category') Category:
      select#category.form-control(name='category' required)
        option(value='') select a category
        each category in categories
          if item
            if category._id.toString() === item.category._id.toString()
              option(value=category._id selected) #{category.name}
            else
              option(value=category._id) #{category.name}
          else
            option(value=category._id) #{category.name}

    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='$' name='price' required value=(undefined === item ? '' : item.price))

    div.form-group
      label(for='amount') Amount:
      input#amount.form-control(type='number', placeholder='1-100' name='amount' required value=(undefined === item ? '' : item.amount))

    div.form-group
      label(for='image') Image:
      if item && item.image
        img(src=`${item.image}` alt='current image' width='150')
      input#image.form-control(type='file', name='image')

    button.btn.btn-primary(type='submit') Submit
