extends layout

block content
  h1 #{item.name}

  img(src=item.image, alt="movie poster")

  p 
    strong Category: 
    | #{item.category.name}
  p 
    strong Description: 
    | #{item.description}
  p 
    strong Price: 
    | #{item.price}$
  p 
    strong Amount: 
    | #{item.amount}

  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item